[Desktop Entry]
Version=1.0
Name=Cinnamon Panel Editor
Comment=Edit Linux panels on Cinnamon desktop
Exec=/usr/bin/cinnamon-panel-editor
Icon=/usr/share/icons/cinnamon-panel-editor-icon.png
Terminal=false
Type=Application
Categories=Utility;